<h1><%= @recipe.title%></h1>

<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time %> minutos</p>
<h3>Ingredientes</h3>

<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.method %></p>

<h3>Enviado por</h3>
<p><%= @recipe.user.email %>


<% if user_signed_in?%>
  <% if current_user.my_recipe? @recipe %>
    <%= link_to 'Editar', edit_recipe_path(@recipe) %>
    <%= link_to 'Remover Receita', recipe_path(@recipe), method: :delete %>
  <%end%>

  <% if current_user.favorited? @recipe %>
    <%= link_to 'Remover dos favoritos', destroy_favorite_recipe_path(@recipe), method: :delete %>
  <% else %>
    <%= link_to 'Adicionar aos favoritos', favorite_recipe_path(@recipe), method: :post %>
  <% end %>
<% end %>

<%= link_to "Voltar", root_path %>
