<h1><%= @cuisines.name %>

  <% if @recipes.any?%>

  <%= @recipes.each do |recipe| %>
  <h1><%= recipe.title %></h1>
  <li><%= recipe.recipe_type%></li>
  <li><%= recipe.cuisine.name%></li>
  <li><%= recipe.difficulty%></li>
  <li><%= recipe.cook_time%> minutos</li>

  <%end%>

  <%else%>
  Nenhuma receita encontrada para este tipo de cozinha
  <%end%>
