<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>

<% @cuisines.each do |cuisine| %>
<%= link_to cuisine.name, cuisine_path(cuisine.id)%>
<%end%>

<% @recipe_types.each do |recipe_type| %>
<%= link_to recipe_type.name, recipe_type_path(recipe_type.id)%>
<%end%>


<h2> Ultimas receitas cadastradas </h2>
<% @last_recipes.each do |recipe| %>
  <div class = "recipes">
    <h1><%= link_to recipe.title, recipe_path(recipe.id)%></h1>
    <li><%= recipe.recipe_type.name %></li>
    <li><%= recipe.cuisine.name %></li>
    <li><%= recipe.difficulty %></li>
    <li><%= recipe.cook_time %> minutos</li>
  </div>
<% end %>
<%= link_to 'Visualizar todas receitas', recipes_path %>
